* {
    margin: 0px;
    padding: 0px;
}


:root {
    --brown: rgb(56, 3, 3);
}

#logo {
    width: 100%;
    height: 100px;
}

.nav-item i {
    color: rgba(153, 152, 152, 0.635);
}

.nav-item {
    font-size: 20px;
}

#contactbtn {
    background-color: var(--brown);
    color: white;
}

#contactbtn:hover {
    background-color: #fff;
    color: var(--brown);
    border-color: var(--brown);
}

.main {
    background-image: url('./images/interior.jpg');
    height: 180vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.welcome {
    padding-top: 20%;
    padding-left: 5%;
    color: #fff;
}

.welcome h1 {
    font-size: 100px;
}
#gallery button{
    width: 25%;
}

/* Media Query */
@media(max-width:600px)
{
    .welcome h1 {
        font-size: 50px;
    }
    .nav-item i{
        display: none;
    }
    #gallery button{
        width: 75%;
    }
}
.work {

    background-image: url('https://img.freepik.com/free-vector/paper-style-wavy-background_23-2149116133.jpg?size=626&ext=jpg&ga=GA1.2.1152313515.1664712926&semt=ais');
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.work h1 {
    padding-top: 4%;
}

#viewBtn {
    border-color: var(--brown);
    color: var(--brown);
}

#viewBtn:hover {
    background-color: var(--brown);
    color: white;
}

.imgDiv {
    width: 100%;
    height: 490px;
    border: 5px solid var(--brown);
    padding-top: 4%;
    padding-left: 4%;
}

.hr {
    background-color: var(--brown);
    width: 20%;
    height: 5px;
}

#fur {
    color: var(--brown);
}

#gallery {
    padding-top: 8%;
}

#gallery h1 {
    padding-bottom: 8%;
    font-weight: 600;
}

.imag1 {
    position: relative;
}

.rosewood {
    width: 50%;
    padding: 4%;
    background: rgba(0, 0, 0, 0.842);
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
}